* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.header {
    padding: 70px 0 0 0;
    font-family: "Helvetica Neue";
    font-size: 48px;
    justify-content: center
}

.app-container {
    justify-content: center;
    text-align: center;
    font-family: "Helvetica Neue";
    background-color: #b3ecf0;
}

.soundCards {
    display: flex;
}

.card1 {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
    width: 100%;
    background: #60d394;
}

.card2 {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
    width: 100%;
    background: #d36060;
}

.card3 {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
    width: 100%;
    background-color: #c060d3;
}

.card4 {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
    width: 100%;
    background: #d3d160;
}

.card5 {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
    width: 100%;
    background: #606bd3;
}

.card6 {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
    width: 100%;
    background: #60c2d3;
}

#visual>div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 00%;
        left: 80%;
    }
}